.section{
    background-color: #eaf9fa;
}
.sec-3-img{
    text-align: center;
    padding-top: 5%;
}
.search-div{
    
    display: flex;
    justify-content: center;
    padding: 40px;
}
.search-bar{
    width: 50%;
    height: 60px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgb(241, 240, 240);
}
.search-bar::placeholder{
    color: rgb(79, 80, 80);
}
.sec-3-head{
    padding-top: 5%;
}
.sec-3-head-text{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0;
    font-weight: 900;
    text-align: center;
}
.sec-3-des{
    text-align: center;
    padding-bottom: 5%;
}
.sec-3-des-text{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    font-weight:550;
}
.search-btn{
    font-size: 30px;
}
